node_modules/
.pnpm-store/

# Local database files
cockroach-data/

# Environments
.env
.env.development
.env.production
.env.makefile

# Terraform
*.tfstate
*.tfstate.backup
.terraform
terraform/service
# terraform/service/backends/production.tfvars

.DS_Store
