# @format
name: auth-boilerplate
version: "3.9"
services:
  database:
    image: cockroachdb/cockroach:v22.2.9
    container_name: database
    ports:
      - "26257:26257"
      - "26258:8080"
    command: start-single-node --insecure
    volumes:
      - "../database/cockroach-data:/cockroach/cockroach-data"
  gateway:
    image: node-dev:local
    container_name: gateway
    build:
      context: .
      dockerfile: "./Dockerfile.node.dev"
    environment:
      - NAMESPACE=services
      - SERVICE=gateway
    ports:
      - "10001:10001"
    volumes:
      - ../:/var/app/auth-boilerplate
    restart: on-failure
  user:
    image: node-dev:local
    container_name: user
    build:
      context: .
      dockerfile: "./Dockerfile.node.dev"
    environment:
      - NAMESPACE=services
      - SERVICE=user
    ports:
      - "10002:10002"
    volumes:
      - ../:/var/app/auth-boilerplate
    restart: on-failure
